#posts-list
  @extend .row-fluid
  .post-box
    width: 260px
    float: left
    margin: 10px
    margin-bottom: 50px
    padding-right: 20px
    border-right: 1px dashed lighten($brown, 10%)
    &:nth-child(3n+1)
      clear: both
    @media screen and (min-width: 1200px)
      width: 340px

    @media screen and (max-width: 979px) and (min-width: 768px)
      width: 190px

    @media screen and (max-width: 768px)
      float: none
      width: 100%
      margin:
        left: 0
        right: 0
      h2
        font-size: 160%

    h2
      text-align: center
      a
        font-family: $dosis-semibold
        background: $second-color
        padding: 0 7px
        +box-shadow(0px 2px 5px 0px darken($second-color, 20%))
        display: inline
        color: white

    .categories
      text-align: center
      margin: 20px 0

    .created_at
      text-align: center

    .detail
      position: relative
      min-height: 80px
      @media screen and (max-width: 979px)
        min-height: 130px

      .cover
        width: 100%
        position: absolute
        top: 0
        height: 80px
        overflow: hidden
        @media screen and (max-width: 979px)
          height: 130px
        img
          width: 100%
          +transition(opacity 0.5s)
          @media screen and (min-width: 480px) and (max-width: 768px)
            display: none

      &:hover
        .cover
          img
            +opacity(0)

  .loading
    text-align: center
    clear: both
    +clearfix()

