#posts-list
  @extend .row-fluid

  .post-box
    margin: 10px
    margin-bottom: 50px
    padding-right: 20px
    h2
      a
        font-family: $dosis-semibold
        color: $second-color

    .created_at
      padding-left: 10px

    .categories
      margin: 10px 0
      a
        margin-right: 10px

    .introduction
      margin-top: 10px
