@font-face
  font-family: "Dosis-Regular"
  src: font-url("Dosis-Regular.ttf")


@font-face
  font-family: "Dosis-SemiBold"
  src: font-url("Dosis-SemiBold.ttf")


@font-face
  font-family: 'Droid Serif'
  font-style: normal
  font-weight: 700
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff) format("woff")


@font-face
  font-family: 'Droid Serif'
  font-style: normal
  font-weight: 400
  src: local("Droid Serif"), local("DroidSerif"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff) format("woff")


@font-face
  font-family: 'Droid Serif'
  font-style: italic
  font-weight: 700
  src: local("Droid Serif Bold Italic"), local("DroidSerif-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/c92rD_x0V1LslSFt3-QEpiHgNb6vKVPdRA9LSAKGxzw.woff) format("woff")


@font-face
  font-family: 'Droid Serif'
  font-style: italic
  font-weight: 400
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/cj2hUnSRBhwmSPr9kS5894o3ZslTYfJv0R05CazkwN8.woff) format("woff")


@font-face
  font-family: 'Droid Sans'
  font-style: normal
  font-weight: 400
  src: local("Droid Sans"), local("DroidSans"), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff")


@font-face
  font-family: 'Droid Sans'
  font-style: normal
  font-weight: 700
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format("woff")



@font-face
  font-family: "mattt"
  src: font-url("mattt.eot")
  src: font-url("mattt.eot?#iefix") format("embedded-opentype"), font-url("mattt.woff") format("woff"), font-url("mattt.ttf") format("truetype")

$dosis-regular: "Dosis-Regular"
$dosis-semibold: "Dosis-SemiBold"
$droid-serif: "Droid Serif"
$droid-sans: "Droid Sans"
$icons-font: "mattt"
