footer
  padding: 5px
  padding-top: 50px
  padding-bottom: 20px
  font-family: $droid-serif
  font-weight: 400
  //text-align: center
  margin-top: 80px
  background: rgba($brown, 0.1)

  .creative-commons
    font-size: 130%
    color: black
  .credits
    padding-top: 20px
