footer
  padding-top: 15px
  font-weight: 400
  position: fixed
  bottom: 10px
  left: 0
  width: 25%

  .myicon-creative-commons
    font-size: 130%
    color: darken($brown, 10%)

    &:hover
      text-decoration: none
      color: $second-color

    &:before
      content: "\24"
      padding-right: 5px

    span
      display: none

    @media screen and (max-width: 560px)
      font-size: 110%

  .myicon-feed, .myicon-twitter, .myicon-github
    margin: 0 5px
    font-size: 200%
    color: darken($brown, 10%)

    &:hover
      text-decoration: none
      color: $second-color

    @media screen and (max-width: 560px)
      font-size: 180%

  .myicon-feed
    &:before
      content: "\21"
  .myicon-twitter
    &:before
      content: "\40"
  .myicon-github
    &:before
      content: "\23"
  .left-content
    float: left

  aside
    float: right
    text-align: right

  .credits
    display: none
    padding-bottom: 20px
    font-size: 85%

    @media screen and (max-width: 560px)
      font-size: 80%

  @media screen and (max-width: 765px)
    padding: 10px
    padding-top: 30px
    margin:
      left: -20px
      right: -20px

  @media screen and (max-width: 900px)
    padding-top: 30px
    margin-top: 80px
    background: rgba($brown, 0.1)
    position: relative
    width: 100%

    .credits
      display: block

    .myicon-creative-commons span
      display: inline
