header
  font-size: 75%
  margin-top: 50px
  position: fixed
  top: 0
  left: 0
  width: 25%
  text-align: center

  .avatar
    width: 80%
    margin: 0 auto
    padding-bottom: 20px
    img
      +border-radius(50%)
      +box-shadow(0px 2px 5px 0px darken($brown, 10%))

  .name
    color: $brown
    h1
      font-family: $dosis-semibold
      font-size: 300%
      line-height: 110%
    h2
      font-family: $dosis-regular
      font-size: 150%

  .blog-logo
    font-family: $dosis-semibold
    color: white
    background: $second-color
    display: inline-block
    padding: 5px 10px
    margin-bottom: 10px
    +box-shadow(0px 3px 5px 0px darken($second-color, 20%))

  @media screen and (max-width: 980px)
    font-size: 60%

  @media screen and (max-width: 900px)
    position: relative
    width: 100%
