header
  margin-top: 50px
  padding-bottom: 50px
  margin-bottom: 50px
  @extend .row-fluid
  border-bottom: 1px dashed lighten($brown, 10%)

  .avatar
    @extend .span3
    @extend .offset1
    float: left
    img
      +border-radius(50%)
  .name
    @extend .span8
    @extend .offset3
    color: $brown
    font-family: $dosis-regular
    text-align: center
    h1
      font-size: 500%
      line-height: 110%

    @media screen and (max-width: 980px)
      h1
        font-size: 300%
      h2
        font-size: 150%

    @media screen and (max-width: 560px)
      h1
        font-size: 150%
      h2
        font-size: 100%
