body
  background: image-url('background.png')
  font-family: $droid-sans
  color: $brown

h1
  font-family: $droid-sans
  font-weight: 700

a
  color: darken($brown, 10%)
  font-family: $droid-sans
  &:hover
    color: lighten($brown, 20%)

section
  @extend .row-fluid

